


body{
	background-color: #333333;
	text-align: center;
}


h1{
	color: #ff9933;
	text-align:center;
	padding-top: 100px;
	font-size: 100px;
	font-family: Helvetica;

}

form {  
	margin: 0 auto;
	padding: 0;
}

input[type = text], input[type = password]{
	width: 25%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

button:hover{
	opacity: 0.5;

}

button{
	padding: 10px 15px;
	margin-top: 15px;
	width: 5%;
	font-family: Helvetica;

}
.container {
	
}