


body{
	background-color: #7C9885;
	text-align: center;
}


h1{
	color: #28666E;
	text-align:center;
	padding-top: 200px;
	font-size: 150px;
	font-family: Helvetica;
  line-height: 0px;
	font-weight: bold;
}

form {
	margin: 0 auto;
	padding: 100px;
}

input[type = text], input[type = password]{
	width: 25%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
}

button:hover{
	opacity: 0.5;
}

button{
	/* padding: 10px ; */
	margin-top: 15px;
	width: 5%;
	font-family: Helvetica;
	text-align:center;

}

a:link{
	color:#28666E;
	text-align: center;
	/* padding:10px; */
	/* display: block; */
	font-weight: bold;
	font-size: 16px;
	font-family: Helvetica;
	line-height: 0px;
}
label{
	/* padding-top: 20px; */ 
	left:20px;
	/* font-size: 16px; */
	color: #28666E;
	font-family: Helvetica;
	font-weight: bold;

}
